.offer,
.offer__item {
  margin-bottom: 24px;
}

.offer__title {
  font-family: var(--font-inter);
  font-size: 24px;
  line-height: 35px;
  color: var(--color-black);
  margin-bottom: 17px;
}

.offer__boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 22px;
  grid-row-gap: 20px;
}

.offer__box {
  width: 222px;
  min-height: 220px;
  background: var(--dark-gray);
  border: 1px solid var(--rgba-black);
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.offer__box:hover{
  animation: bounce 1s;
  transition: all .5s ease-in-out;
  box-shadow: 4px 3px 12px var(--bg-color-black);
}

.box__images {
  width: 100%;
}

.box__name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  padding: 0 5px;
}

.box__link {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 23px;
  color: var(--color-black);
  text-align: center;
}

.offer__btn {
  border: none;
  border-radius: 3px;
  background: var(--dark-gray);
  width: 100%;
  height: 54px;
  margin-top: 20px;
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 23px;
  color: var(--color-black);
}