@import "./normolize.css";
@import "./reset.css";
@import "./fonts.css";
@import "./slick.css";
@import "./swiper-bundle.min.css";
@import "./header.css";
@import "./production.css";
@import "./offer.css";
@import "./company.css";
@import "./characteristic.css";
@import "./request.css";
@import "./reviews.css";
@import "./footer.css";
@import "./media.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-blue: linear-gradient(180deg, #003471 0%, #212121 191.67%);
  --bg-gradient-shadow-blue: linear-gradient(180deg, #0F2B4C -12.06%, rgba(33, 33, 33, 0) 40%);
  --bg-gradient-blue: linear-gradient(90deg, #212121 0%, #003471 71.47%);
  --bg-gradient-dark-blue: linear-gradient(270deg, #212121 0%, #003471 100%);
  --bg-gragient-blue-black: linear-gradient(0.21deg, #212121 7.99%, #003471 99.71%);
  --bg-lenear-gradient-blue360: linear-gradient(360deg, #212121 0%, #003471 100%);

  --bg-color-black: rgba(17, 17, 17, 1);
  --bg-light-gray: #F6F5F5;

  --rgba-white8: rgba(255, 255, 255, 0.8);
  --rgba-white6: rgba(255, 255, 255, 0.6);
  --rgba-black: rgba(0, 0, 0, 0.2);
  --rgba-dark-black: rgba(33, 33, 33, 0.8);
  --rgba-gray: rgba(255, 255, 255, 0.4);

  --light-gray: #F6F5F5;
  --dark-gray: #ECECEC;

  --color-black: #212121;
  --color-border: #C4C4C4;
  --color-green: #4CAF50;
  --color-blue: #003471;
  --color-gold: #F2BA04;
  --color-dark-gray: #303030;

  --white: #fff;
  --black: #000000;

  --black-shadow: 0px 15px 30px -12px #000000;
  --gray--shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --rgba-shadow: 0px 20px 40px -18px rgba(0, 0, 0, 0.6);

  --font-inter: "Inter";
  --font-oswald: "Oswald";
  --font-opensans: "Open Sans";
  --font-roboto: "Roboto";
}

body {
  font-family: var(--font-oswald);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: var(--white);
  box-shadow: var(--black-shadow);
  border-radius: 3px;
  border: none;
  width: 204px;
  height: 60px;
  color: var(--color-black);
}

.title {
  font-family: var(--font-oswald);
  font-size: 32px;
  line-height: 46px;
  color: var(--color-black);
  text-transform: uppercase;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

