*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-blue: linear-gradient(180deg, #003471 0%, #212121 191.67%);
  --bg-gradient-shadow-blue: linear-gradient(180deg, #0F2B4C -12.06%, rgba(33, 33, 33, 0) 40%);
  --bg-gradient-blue: linear-gradient(90deg, #212121 0%, #003471 71.47%);
  --bg-gradient-dark-blue: linear-gradient(270deg, #212121 0%, #003471 100%);
  --bg--gragient-blue-black: linear-gradient(0.21deg, #212121 7.99%, #003471 99.71%);
  --bg-lenear-gradient-blue360: linear-gradient(360deg, #212121 0%, #003471 100%);

  --bg-color-black: rgba(17, 17, 17, 1);
  --bg-light-gray: #F6F5F5;

  --rgba-white8: rgba(255, 255, 255, 0.8);
  --rgba-white6: rgba(255, 255, 255, 0.6);
  --rgba-black: rgba(0, 0, 0, 0.2);
  --rgba-dark-black: rgba(33, 33, 33, 0.8);
  --rgba-gray: rgba(255, 255, 255, 0.4);

  --light-gray: #F6F5F5;
  --dark-gray: #ECECEC;
  --text-black: #212121;
  --white: #fff;
  --black: #000000;
  --color-border: #C4C4C4;
  --color-green: #4CAF50;
  --color-blue: #003471;
  --color-gold: #F2BA04;

  --black-shadow: 0px 15px 30px -12px #000000;
  --gray--shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --shadow-rgba: 0px 20px 40px -18px rgba(0, 0, 0, 0.6);

  --font-inter: "Inter";
  --font-oswald: "Oswald";
  --font-opensans: "Open Sans";
  --font-roboto: "Roboto";
}

body {
  font-family: var(--font-oswald);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: var(--white);
  box-shadow: var(--black-shadow);
  border-radius: 3px;
  border: none;
  width: 204px;
  height: 60px;
  color: var(--text-black);
}

.title {
  font-family: var(--font-oswald);
  font-size: 32px;
  line-height: 46px;
  color: var(--text-black);
  text-transform: uppercase;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


/* Header */


.header__device,
.header__burger,
.menu__link,
.menu__btn,
.time {
  display: none;
}

.header__top {
  position: relative;
  background: var(--bg-color-black);

}

.header__top::before {
  content: url(../images/header-img.png);
  position: absolute;
  top: -1px;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.header__inner {
  position: relative;
  background-image: url("../images/header-bg.jpg");
  padding: 43px 0 52px 360px;
}

.header__item {
  position: relative;
  display: flex;
  align-items: end;
  column-gap: 115px;
  z-index: 10;
}

.header__item-logo {
  display: flex;
  align-items: end;
  position: relative;
  mix-blend-mode: lighten;
}

.header__item-descr {
  margin-left: 20px;
}

.header__item-title {
  font-weight: 400;
  font-size: 41px;
  line-height: 59px;
  text-transform: uppercase;
  color: var(--white);

}
.header__item-text {
  font-family: var(--font-inter);
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--white);
  color: var(--rgba-white8);
}

.header__info {
  display: flex;
  align-items: center;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.header__info-tel {
  font-weight: 400;
  font-size: 29px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--white);
  text-align: right;
}

.header__info-adress {
  font-family: var(--font-inter);
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  color: var(--rgba-white6);
}

.header__info-icon {
  margin-left: 16px;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color-blue);
  height: 48px;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.menu__list-link {
  font-family: var(--font-opensans);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
}

.menu__list-link:hover {
  color: var(--rgba-white6);
}

.link__whatsup {
  display: none;
}

/* blocks */

.production {
  margin-bottom: 26px;
}

.production__search {
  position: relative;
  width: 1125px;
  margin: 23px auto 38px;
  border: 1px solid var(--color-border);
}

.production__search input {
  width: 968px;
  height: 40px;
  border: none;
  padding: 0 40px;
}

.production__search input::placeholder  {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.production__search::after{
  content: url(../images/production/icons/search.svg);
  position: absolute;
  left: 16px;
  top: 10px;
  width: 12px;
  height: 12px;
  z-index: 1;
}

.production__btn {
  font-family: var(--font-inter);
  background: var(--bg-light-gray);
  border: none;
  width: 157px;
  height: 40px;
  font-weight: 400;
  font-size: 15px;
  color: var(--black);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.production__blocks {
  position: relative;
  background-image: url("../images/production/production-blue-bg.jpg");
  height: 320px;
  width: 1125px;
  padding: 27px 0 33px 56px;
  z-index: 5;
  margin: 0 auto;
}

.production__blocks::after {
  content: url("../images/production/bg-blocks.svg");
  position: absolute;
  bottom: -89px;
  right: 420px;
  z-index: 0;
}

.blocks__img {
  position: absolute;
  right: 179px;
  bottom: -40px;
}

.blocks__slide {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 320px;
  z-index: -1;
}

.blocks__subtitle {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: var(--color-green);
  text-transform: uppercase;
  margin-bottom: 38px;
}

.blocks__title {
  font-family: var(--font-oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 57px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 10px;
}

.blocks__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  color: var(--rgba-white8);
  margin-bottom: 20px;
  width: 478px;
}

.blocks__form {
  display: flex;
  align-items: center;
  column-gap: 70px;
}

.blocks__check {
  font-family: var(--font-oswald);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.blocks__str {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.blocks__str:nth-last-child(2) {
  margin-bottom: 13px;
}

/* Mixer */

.production__mixer {
  position: relative;
  background-image: url(../images/production/production-blue-bg.jpg);
  height: 320px;
  width: 1125px;
  padding: 27px 0 50px 56px;
  z-index: 5;
  margin: 0 auto;
}

.production__mixer::after {
  content: url(../images/production/bg-blocks.svg);
  position: absolute;
  right: 437px;
  bottom: -88px;
}

.mixer__images1 {
  position: absolute;
  right: 366px;
  bottom: -22px;
  z-index: 1;
}

.mixer__images2 {
  position: absolute;
  right: 247px;
  bottom: -6px;
  z-index: 1;
}

.mixer__images3 {
  position: absolute;
  right: 22px;
  bottom: -22px;
  z-index: 0;
}

.mixer__slide {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 320px;
  z-index: -1;
}

.mixer__title {
  font-family: var(--font-oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 57px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 10px;
}
.mixer__subtitle {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--rgba-white8);
}
.mixer__form {
  margin: 40px 0 0;
}

.mixer__check {
  display: flex;
  column-gap: 57px;
  font-family: var(--font-oswald);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 25px;
}

.mixer__str {
  display: flex;
  column-gap: 10px;
}

.slick-slider {
  width: 1125px;
  margin: 0 auto;
}

/* offer */

.offer__item {
  margin-bottom: 24px;
}

.offer__title {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: var(--text-black);
  margin-bottom: 17px;
}

.offer__boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 22px;
  grid-row-gap: 20px;
}

.offer__box {
  width: 222px;
  min-height: 220px;
  background: var(--dark-gray);
  border: 1px solid var(--rgba-black);
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.offer__box:hover{
  animation: bounce 1s;
  transition: all .5s ease-in-out;
  box-shadow: 4px 3px 12px var(--bg-color-black);
}

.box__images {
  width: 100%;
}

.box__name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  padding: 0 5px;
}

.box__link {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-black);
  text-align: center;
}

.offer__btn {
  border: none;
  border-radius: 3px;
  background: var(--dark-gray);
  width: 100%;
  height: 54px;
  margin-top: 20px;
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 23px;
  color: var(--text-black);
}

/* Company */

.company__inner {
  display: flex;
  column-gap: 42px;
  width: 1125px;
  margin: 0 auto 35px;
}

.descr__title {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: var(--text-black);
  margin: 15px 0 22px;
}

.descr__subtitle {
  font-family: var(--font-oswald);
  font-weight: 400;
  font-size: 29px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--text-black);
  margin-bottom: 25px;
}

.descr__text {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 14px;
}

.partnership__text {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-black);
  margin-bottom: 48px;
}

.company__logo {
  display: flex;
  align-items: center;
  column-gap: 34px;
}

.company__images {
  padding-top: 7px;
}

/* characteristic */

.characteristic__inner {
  height: 213px;
  width: 1125px;
  margin: 0 auto 30px;
}

.characteristic__title {
  margin-bottom: 40px;
}

.characteristic__item {
  display: flex;
  justify-content: space-between;
}

.characteristic__info {
  position: relative;
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
}

.characteristic__info::after {
  content: url("../images/characteristic/sign-logo.svg");
  position: absolute;
  top: -15px;
  left: 0;
}

.characteristic__descr {
  width: 195px;
}

.characteristic__descr-title {
  font-family: var(--font-oswald);
  font-size: 19px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-blue);
  margin-bottom: 20px;
}

.characteristic__text {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 23px;
  color: var(--rgba-dark-black);
}


/* Request */

.request__inner {
  position: relative;
  background: var(--bg-gradient-dark-blue);
  width: 1125px;
  margin: 0 auto 41px;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

.request__inner::after {
  content: url(../images/request/request-bg.jpg);
  position: absolute;
  left: 0;
}

.request__item {
  position: relative;
  padding: 34px 49px 44px 0;
  z-index: 2;
}

.request__title {
  font-family: var(--font-oswald);
  font-size: 32px;
  line-height: 47px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.request__text {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--rgba-white8);
  margin-bottom: 28px;
  width: 560px;
}

.request__btn {
  font-family: var(--font-opensans);
  font-size: 16px;
  line-height: 22px;
}

/* Reviews */

.reviews__inner {
  height: 313px;
}

.reviews__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1125px;
  margin: 0 auto 30px;
}

.reviews__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--rgba-dark-black);
}

.reviews__link img {
  margin-left: 11px;
}

.reviews__items {
  display: flex;
  column-gap: 25px;
}

.reviews__item {
  max-width: 358px;
  height: 237px;
  padding: 31px 18px 25px 24px;
  box-shadow: var(--gray--shadow);
}

.reviews__name {
  font-family: var(--font-oswald);
  font-weight: 700;
  color: var(--text-black);
}

.reviews__name span {
  color: var(--color-gold);
}

.reviews__text {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 23px;
  color: var(--rgba-dark-black);
  margin-top: 35px;
}

.slick-slider {
  width: 1173px;
}

.slick-slider .slick-track {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.slick-list.draggable {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  height: 257px;
}


/* Footer */

.footer {
  background: var(--text-black)
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 70px;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: 17px;
  margin-bottom: 43px;
}

.footer__title {
  font-family: var(--font-oswald);
  font-size: 33px;
  line-height: 48px;
  text-transform: uppercase;
  color: var(--white);
}

.footer__text {
  font-family: var(--font-inter);
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--rgba-white8);
}

.footer__privacy {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.privacy__text {
  font-family: var(--font-roboto);
  font-size: 13px;
  line-height: 15px;
  color: var(--rgba-gray);
}

.privacy__copyright {
  font-family: var(--font-roboto);
  font-size: 13px;
  color: var(--rgba-gray);
}

.footer__navigation {
  display: flex;
  align-items: center;
}

.footer__menu {
  margin-right: 60px;
}

.footer__menu-item:not(:nth-child(7)) {
  padding-bottom: 3px;
}

.footer__menu-link {
  font-family: var(--font-opensans);
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
}

.footer__adress {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icon-map {
  margin-right: 6px;
}

.footer__phone {
  margin-bottom: 12px;
}

.footer__icon-phone {
  margin-right: 6px;
}

.footer__email {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  margin-bottom: 24px;
}

.footer__icon-email {
  margin-right: 6px;
}

.footer__call {
  display: flex;
  column-gap: 15px;
}

.footer__btn {
  box-shadow: none;
  color: #303030;
}

/* Media */

@media (max-width: 1440px) {
  .header__inner {
    padding: 43px 0 52px 150px;
  }
}

@media (max-width: 1200px) {
  .header__inner {
    padding: 43px 0 52px 70px;
  }

  .header__top::before {
    display: none;
  }

  .header__info {
    padding-right: 15px;
  }

  .production__search {
    width: 100%;
  }

  .slick-slider {
    width: 100%;
  }

  .company__inner {
    width: 100%;
  }

  .characteristic__inner {
    width: 100%;
    height: auto;
  }

  .characteristic__item {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .request__inner {
    width: 100%;
  }

}

@media (max-width: 1100px) {
  .header__inner {
    padding: 43px 0 52px 0;
  }

  .header__item-logo {
    margin-bottom: 30px;
  }

  .header__item {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
  .header__contacts {
    margin: 0 0 16px 0;
  }

  .header__phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 21px 0 0 0;
  }

  .header__info-tel {
    margin-bottom: 15px;
    text-align: center;
  }

  .header__info-icon {
    margin: 0;
  }

  .link__whatsup {
    display: block;
  }

  .production__search input {
    width: 100%;
  }

  .production__blocks {
    padding: 0;
    height: 554px;
  }

  .production__blocks::after {
    left: 0;
    bottom: 0;
  }

  .blocks__info {
    padding-top: 50px;
    text-align: center;
  }

  .blocks__text {
    width: 50%;
    margin: 0 auto 20px;
  }

  .blocks__slide {
    height: 100%;
  }

  .blocks__img {
    right: 120px;
    bottom: -20px;
    height: 200px;
  }

  .blocks__form {
    flex-direction: column;
    gap: 23px;
  }

  .blocks__check {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
  }

  .blocks__str:nth-last-child(2) {
    margin: 0;
  }

  .production__mixer {
    padding: 0;
    height: 554px;
  }

  .production__mixer::after {
    left: 0;
    bottom: 0;
  }

  .mixer__images1 {
    height: 55%;
  }

  .mixer__images2 {
    height: 55%;
  }

  .mixer__images3 {
    height: 55%;
    right: 52px;
  }

  .mixer__slide {
    height: 100%;
    width: 100%;
  }

  .mixer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mixer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offer__title {
    text-align: center;
  }

  .company__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .company__info {
    width: 75%;
    margin: 0 auto;
  }

  .company__descr {
    text-align: center;
  }

  .company__logo {
    justify-content: center;
  }

  .partnership__text {
    text-align: center;
  }

  .request__inner {
    background: var(--bg-lenear-gradient-blue360);
    display: block;
    height: 490px;
  }

  .request__inner::after {
    display: none;
  }

  .request__inner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: var(--bg-gradient-shadow-blue), url(../images/request/adaptive-bg.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 270px;
    width: 100%;
  }

  .request__item {
    padding: 34px 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
  }

}


@media (max-width: 768px) {
  .header {
    position: relative;
  }

  .header__device {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--white);
    gap: 0 15px;
    height: 47px;
    padding: 8px 6px 5px 6px;
  }

  .header__device span {
    position: absolute;
    right: 56px;
    top: 14px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: var(--color-gold);
  }

  .header__device span::after {
    content: "1";
    position: absolute;
    font-size: 12px;
    right: 7px;
    top: -3px;
  }

  .hearts-icon {
    width: 32px;
    height: 32px;
  }

  .basket-icon {
    margin-right: 55px;
  }
  
  .menu__burger {
    position: absolute;
    right: 6px;
    top: 7px;
    width: 35px;
    height: 30px;
    z-index: 15;
  }

  .menu__burger::after,
  .menu__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--bg-color-black);
    height: 5px;
    transition: all .5s ease-in-out;
  }

  .menu__burger span {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 14px;
    background-color: var(--bg-color-black);
    transition: all 0.5s ease-in-out;
  }

  .menu__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    top: 4px;
    background-color: var(--bg-color-black);
  }

  .menu__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    background-color: var(--bg-color-black);
  }
  

  .active::after {
    transform: rotate(-45deg);
    top: 15px;
  }

  .active span {
    opacity: 0;
  }

  .active::before {
    transform: rotate(45deg);
    bottom: 9px;
  }

  .menu {
    height: 275px;
  }

  .header__nav {
    position: absolute;
    width: 100%;
    min-height: 566px;
    overflow: auto;
    top: 0;
    left: -300%;
    display: flex;
    flex-direction: column;
    background: var(--bg-light-gray);
    transition: all 0.5s ease-in-out;
    z-index: 10;
  }

  .header__nav.active {
    left: 0;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .menu__list li {
    margin-bottom: 15px;
  }

  .menu__list a {
    font-family: var(--font-inter);
    font-size: 17px;
    line-height: 21px;
    color: var(--black);
  }

  .menu__btn {
    display: block;
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    border: none;
    width: 246px;
    height: 55px;
    background: var(--color-gold);
    box-shadow: var(--shadow-rgba);
    border-radius: 3px;
    margin-bottom: 36px;
  }

  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-family: var(--font-inter);
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 32px;
  }

  .time {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .production__blocks {
    padding: 0;
    height: 554px;
  }

  .production__blocks::after {
    left: 0;
    bottom: 0;
  }

  .blocks__info {
    padding-top: 50px;
    text-align: center;
  }

  .blocks__text {
    width: 80%;
    margin: 0 auto 20px;
  }

  .blocks__slide {
    height: 330px;
  }

  .blocks__img {
    right: 15px;
    bottom: -15px;
    height: 160px;
  }

  .blocks__form {
    flex-direction: column-reverse;
    gap: 23px;
  }

  .blocks__check {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
  }

  .blocks__str:nth-last-child(2) {
    margin: 0;
  }


  .mixer__title {
    font-size: 35px;
    line-height: 50px;
  }

  .mixer__images1 {
    height: 45%;
    right: 240px;
  }

  .mixer__images2 {
    height: 45%;
    right: 145px;
  }

  .mixer__images3 {
    height: 45%;
    right: -15px;
  }

  .mixer__slide {
    height: 330px;
  }

  .mixer__info {
    padding-top: 25px;
  }
  
  .mixer__form {
    margin: 20px 0 0;
  }

  .mixer__check {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }

  .offer__box {
    width: 190px;
    min-height: 202px;
  }

  .descr__subtitle {
    font-size: 26px;
    line-height: 39px;
  }

  .descr__text {
    font-size: 18px;
    line-height: 22px;
  }

  .company__logo {
    column-gap: 24px;
  }

  .characteristic__title {
    font-size: 26px;
    line-height: 38px;
  }

  .request__text {
    width: 400px;
  }

}

@media (max-width: 569px) {
  .company__images {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header {
    position: relative;
  }

  .header__inner {
    padding: 26px 0 197px;
    height: 512px;
    overflow: hidden;
  }

  .header__inner::after {
    content: url(../images/header-device-img.png);
    position: absolute;
    bottom: -5px;
  }

  .header__item-title {
    font-size: 28px;
    line-height: 41px;
  }

  .header__item-link img {
    width: 51px;
    height: 60px;
  }

  .header__item-text {
    font-size: 13px;
    line-height: 19px;
  }

  .header__info-tel {
    font-size: 23px;
    line-height: 33px;
  }

  .header__info-adress {
    font-size: 11px;
    line-height: 16px;
  }

  .production__search input::placeholder  {
    font-size: 12px;
    line-height: 14px;
  }

  .production__btn {
    font-size: 14px;
    line-height: 19px;
    width: 70px;
    background: var(--color-border);
  }

  .production__blocks {
    background: linear-gradient(0.21deg, #212121 7.99%, #003471 99.71%);
    overflow: hidden;
  }

  .production__blocks::after {
    right: 0;
    bottom: 30px;
  }

  .production__blocks::before{
    content: url(../images/production/adaptive/slider-1.png);
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .blocks__info {
    padding-top: 20px;
  }

  .blocks__subtitle {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
    margin-bottom: 14px;
  }

  .blocks__subtitle span {
    margin: 0 90px;
  }

  .blocks__title {
    font-size: 29px;
    line-height: 42px;
  }

  .blocks__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto 16px;
  }

  .blocks__check {
    font-size: 15px;
    line-height: 22px;
  }

  .slick-slide .blocks__slide {
    display: none;
  }

  .blocks__img {
    right: 45px;
    bottom: 0;
    height: 190px;
  }

  .blocks__slide {
    right: -6px;
    bottom: -90px;
    height: 280px;
  }



  .slick-slide .mixer__slide {
    display: none;
  }

  .production__mixer {
    background: var(--bg--gragient-blue-black);
    overflow: hidden;
  }

  .production__mixer::after {
    left: 160px;
    bottom: 70px;
  }

  .production__mixer::before{
    content: url(../images/production/adaptive/slider-2.png);
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
  }

  .mixer__title {
    font-size: 29px;
    line-height: 42px;
    text-align: center;
    padding-top: 45px;
    width: 300px;
  }

  .mixer__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .mixer__str {
    font-size: 15px;
    line-height: 22px;
  }

  .mixer__images1 {
    height: 40%;
    right: 238px;
    bottom: -10px;
  }

  .mixer__images2 {
    height: 40%;
    bottom: -10px;
    right: 157px;
  }

  .mixer__images3 {
    height: 40%;
    right: 15px;
    bottom: -10px;
  }

  .offer__box {
    width: 168px;
    min-height: 178px;
  }

  .box__link {
    line-height: 20px;
  }

  .descr__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .descr__text {
    font-size: 17px;
    line-height: 19px;
  }

  .partnership__text {
    margin-bottom: 21px;
  }

  .company__info {
    width: 100%;
  }

  .company__logo {
    display: grid;
    grid-template-columns: 100px 100px;
  }

  .request__inner::before{
    bottom: 0;
    height: 243px;
  }

  .request__item {
    padding: 30px 0 0;
  }

  .request__title {
    font-size: 26px;
    line-height: 39px;
  }

  .request__text {
    width: 300px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 35px;
  }
}

@media (max-width: 380px) {
  .blocks__slide {
    right: -80px;
  }

  .blocks__text {
    font-size: 12px;
    padding: 0 10px;
    width: 100%;
  }

  .blocks__img {
    right: 0;
    height: 170px;
  }

  .mixer__images1 {
    right: 168px;
  }

  .mixer__images2 {
    right: 87px;
  }

  .mixer__images3 {
    right: -55px;
  }

  .offer__box {
    width: 143px;
    min-height: 157px;
  }

  .offer__boxs {
    column-gap: 14px;
    grid-row-gap: 8px;
  }

  .box__name {
    word-break: break-word;
    padding: 0 2px;
  }

  .offer__btn {
    margin-top: 17px;
  }

  .company__logo {
    display: grid;
    grid-template-columns: 100px 175px;
  }

  .request__text {
    width: 100%;
    padding: 0 10px;
  }
}